<h1><a href="<%= @truck.website %>"><%= @truck.name %></a></h1>
<img src="<%= @truck.image_large %>" />
<p><%= @truck.description %><p>

<form id="myNote" method="post">
  <label>Add personal note:</label>
  <input type="text" placeholder="Everyone's a critic!">
  <input type="Submit" class="button"></button>
</form>
