* {
  font-family: "Hiragino Sans", Helvetica, Arial, sans-serif !important;
  font-weight: light; }

body {
  color: #333;
  padding: 5%; }
  body header nav {
    display: block;
    width: 100%;
    height: 70px;
    margin-top: -23px; }
    body header nav ul {
      float: right; }
      body header nav ul li {
        float: left;
        list-style: none;
        margin-left: 20px; }
        body header nav ul li form {
          display: inline;
          margin-top: 0;
          max-width: auto; }
          body header nav ul li form input {
            display: inline;
            padding: 0;
            border: 1px solid #eee !important;
            margin: 0;
            font-size: 90%;
            height: 25px !important;
            background-image: url("http://localhost:3000/images/magnifying_glass.png");
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: top 5px right 5px; }
  body hr {
    margin: 10px 0 !important;
    width: 100%;
    max-width: 100% !important; }
  body form {
    max-width: 460px; }
  body #main-content {
    display: block;
    padding-bottom: 50px;
    margin-bottom: 25px;
    border-bottom: 5px solid #eee; }
    body #main-content #all-trucks .truck-box {
      padding: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #eee;
      padding-bottom: 20px;
      float: left;
      width: 290px !important;
      margin: 5px 0 !important; }
      body #main-content #all-trucks .truck-box img {
        margin-bottom: 5px; }
      body #main-content #all-trucks .truck-box h5 {
        margin: 5px 0 1px 0; }
      body #main-content #all-trucks .truck-box a {
        color: #c51820 !important; }
    body #main-content .truck-notes {
      margin-bottom: 30px; }
    body #main-content #stars-input {
      margin-top: -38px; }
      body #main-content #stars-input strong {
        position: relative;
        top: -8px;
        margin-right: 10px; }
  body div.stop-info {
    max-width: 300px;
    float: left;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #eee; }
  body #map {
    width: 100%;
    height: 400px;
    background-color: #B3D1FF; }
  body .hidden {
    display: none; }
  body div.svg {
    font-size: 32px !important; }
  body div.svg div.rateit-range {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4Ij4NCiAgPHRleHQgeD0iMCIgeT0iMTUiIGZpbGw9ImJsYWNrIiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=");
    *background: url(star-normal.svg);
    /* For IE 6 and 7 */
    background-size: contain; }
  body div.svg div.rateit-hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiPg0KICA8dGV4dCB4PSIwIiB5PSIxNSIgZmlsbD0ieWVsbG93IiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=");
    *background: url(star-hover.svg);
    /* For IE 6 and 7 */
    background-size: contain; }
  body div.svg div.rateit-selected {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTUiIGhlaWdodD0iMTUiPg0KICA8dGV4dCB4PSIwIiB5PSIxNSIgZmlsbD0icmVkIiBmb250LXNpemU9IjE4Ij7inKY8L3RleHQ+DQo8L3N2Zz4=");
    *background: url(star-selected.svg);
    /* For IE 6 and 7 */
    background-size: contain; }
  body div.svg div.rateit-preset {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj4NCiAgPHRleHQgeD0iMCIgeT0iMTUiIGZpbGw9ImJsYWNrIiBmb250LXNpemU9IjE1Ij7inKY8L3RleHQ+DQo8L3N2Zz4=");
    *background: url(star-preset.svg);
    /* For IE 6 and 7 */
    background-size: contain; }

/*# sourceMappingURL=application.css.map */
