<!-- <li><form id="searchbar"><input type="text" name="query"></input></form></li> -->
<div class="container">
    <form class="searchbox">
        <input type="text" placeholder="Search..." name="query" class="searchbox-input" onkeyup="buttonUp();" required>
        <input type="submit" class="searchbox-submit" value="GO">
        <span class="searchbox-icon">&#x1F50D;</span>
    </form>
</div>
