<% if current_user %>
  <h4 id="map-notifications">Hi, <strong><%= @user.email %></strong>. Finding food trucks...</h4>
<% else %>
  <h4>Check out these food trucks near you:</h4>
<% end %>
   <div id="map"></div>
    <script>
        function showMap() {

          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: {
                lat: 43.644645,
                lng: -79.394999
            },
            zoom: 11
          });

          
          getLocation(map);
        }


        function getLocation(map) {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                map.setZoom(13);
                buildMap(pos,map);
            });
          }

        }

        function buildMap(pos,map){

          var mapDiv = document.getElementById('map');

          var your_marker = new google.maps.Marker({
            position: pos,
            title: "You!"
          });

          // To add the marker to the map, call setMap();
          your_marker.setMap(map);

          <%
          trucks = []
          @stops.each_with_index do |stop,index|
            trucks << [stop.name,stop.latitude,stop.longitude,index,stop.truck.slug,stop.from.strftime("%l:%M %p"),stop.to.strftime("%l:%M %p"),stop.escaped_lat_lng,stop.truck.name]
          end
          %>

          var trucks = <%= pp trucks %>;
          var num_trucks = trucks.length;

          var image = {
              url: '/images/truck.png',

              size: new google.maps.Size(30, 20),
              // The origin for this image is (0, 0).
              origin: new google.maps.Point(0, 0),
              // The anchor for this image is the base of the flagpole at (0, 32).
              anchor: new google.maps.Point(0, 32)
          };
          // Shapes define the clickable region of the icon. The type defines an HTML
          // <area> element 'poly' which traces out a polygon as a series of X,Y points.
          // The final coordinate closes the poly by connecting to the first coordinate.
          var shape = {
              coords: [1, 1, 1, 20, 18, 20, 18, 1],
              type: 'poly'
          };

          for (var i = 1; i < trucks.length; i++) {
           (function(truck) {
             var marker = new google.maps.Marker({
                 position: {
                     lat: truck[1],
                     lng: truck[2]
                 },
                 map: map,
                 icon: image,
                 shape: shape,
                 title: truck[0],
                 zIndex: truck[3]
             });


             // Create the info window
             var infowindow = new google.maps.InfoWindow({
               content: "<strong><a href='/trucks/"+truck[4]+"'>"+truck[8]+"</a></strong><br />"+truck[0]+"<br />"+truck[5]+" to "+truck[6]+"<br /><a href='https://maps.google.com?saddr=Current+Location&daddr="+truck[7]+"' target='_blank'/>GET DIRECTIONS  &rarr;</a>"
             });

             // Add event listener for click
             google.maps.event.addListener(marker, 'click', function() {
               infowindow.open(map,marker);
             });
           })(trucks[i]);
          }


          if (num_trucks == 0) {
             $("#map-notifications").text("There are no food trucks operating today. :(");
           }
           if (num_trucks == 1) {
             $("#map-notifications").text("Found one food truck.");
           }
           if (num_trucks > 1) {
             $("#map-notifications").text("We found " + num_trucks + " food trucks!");
           }

        }
    </script>

    <div id="front-page-stops" class="clearfix">
    <% @stops.each do |stop| %>
      <%= erb :'_stop', locals: {stop: stop}   %>
    <% end %>
    </div>
